{% extends "header.html" %}

{% block title %}{{post.title}}{% endblock %}

{% block content %}
{{ post.content|safe }}
{{ post.description|safe }}

<h1>Создание события</h1>
    <form method="post">
        {% csrf_token %}
        <label for="title">Название:</label>
        <input type="text" name="title" id="title" required>
        <br>
        <label for="s_dt">Время начала:</label>
        <input type="date" name="s_dt" id="s_dt" required>
        <br>
        <label for="e_dt">Время окончания:</label>
        <input type="date" name="e_dt" id="e_dt" required>
        <br>
        <label for="descript">Описание:</label>
        <textarea name="descript" id="descript" cols="30" rows="10"></textarea>
        <br>
        <label for="cat">Категория</label>
        <input type="text" name="cat" id="cat" required>
        <br>
        <button type="submit">Создать</button>
    </form>

</div>

{% endblock %}