{% extends "header.html" %}

{% block title %}{{post.title}}{% endblock %}

{% block content %}
{{ post.content|safe }}
{{ post.description|safe }}
<div class="form_grid">
    <h1 id="title">{{ event.title }}</h1>
    <time>c {{ event.s_dt | date:'y.m.d H:i' }}</time>
    <time>по {{ event.e_dt | date:'y.m.d H:i' }}</time>
    <span id="cat">{{ event.category }}</span>
    <p id="descript">{{ event.descript }}</p>
    <span>{{ event.author }}</span>
    <span>{{ event.author.email }}</span>
    <span>{{ event.author.is_superuser }}</span>
    {% if user.is_authenticated %}
    <a href="/event/{{event.id}}/update/" class="btn_green btn center_text">Изменить</a>
    <a href="/event/{{event.id}}/delete/" class="btn_red btn center_text">Удалить</a>
    {% endif %}
</div>
{% endblock %}