{% extends "header.html" %}

{% block title %}{{post.title}}{% endblock %}

{% block content %}
{{ post.content|safe }}
{{ post.description|safe }}

<!-- список событий -->
{% for e in events %}
<div class="event-card">
    <div class="header">
        <span class="date">{{e.s_dt|date:"d M Y"}}</span>
        <span class="category">{{e.cat}}</span>
    </div>
    <h2 class="title">{{ e.title }}</h2>
    <p class="body">{{ e.descript|truncatechars:256}}</p>
    <!-- <div class="footer">
        <p>Подвал - заглушка</p>
    </div> -->
</div>
{% endfor %}
<!-- Странички -->
<div class="pagination">
    <span class="step-links">
        {% if events.has_previous %}
        <a href="?page=1">&laquo;</a>
        <a href="?page={{ events.previous_page_number }}">&lt;</a>
        {% endif %}

        <span class="current">
            {{ events.number }} ... {{ events.paginator.num_pages }}
        </span>

        {% if events.has_next %}
        <a href="?page={{ events.next_page_number }}">&gt</a>
        <a href="?page={{ events.paginator.num_pages }}">&raquo;</a>
        {% endif %}
    </span>

</div>

{% endblock %}