{% extends "header.html" %}

{% block title %}{{post.title}}{% endblock %}

{% block content %}
{{ post.content|safe }}
{{ post.description|safe }}
    <form method="post">
        {% csrf_token %}
        <input style="font-size: 1.5rem;" type="text" name="title" id="title" value="{{ event.title }}" required>
        <div style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr;">
        <input type="datetime-local" name="s_dt" id="s_dt" value="{{ event.s_dt|date:'Y-m-d\TH:i' }}" required>
        <div></div>
        <div></div>
        <input type="datetime-local" name="e_dt" id="e_dt" value="{{ event.e_dt|date:'Y-m-d\TH:i' }}" required>
        </div>
        <textarea name="descript" id="descript" rows="10" cols="72">{{ event.descript }}</textarea>
        <br>
        <input type="text" name="category" id="category" value="{{ event.category }}" required>
        <br>
        <button class="bg_main" type="submit">Обновить</button>
    </form>
{% endblock %}
