.event-card {
    border: 1px solid var(--light);
    border-radius: 5px;
    margin-bottom: 1rem;
    background-color: var(--white);
    padding: 1rem;
    max-width: 100%;
}

.event-card>.header {
    background-color: inherit;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.event-card>.header>.id,
.event-card>.header>.category,
.event-card>.header>.date {
    font-size: 12px;
    color: var(--light);
}
.event-card>.header>.category {
    text-align: left;
}
.event-card>.header>.date {
    text-align: center;
}
.event-card>.header>.id {
    text-align: right;
}

.event-card .body {
    margin: .5rem 0;
    font-size: .75rem;
}