:root {
    --r: 0;
    --g: 103;
    --b: 206;
    --s: 66%;
    --l: 40%;
    --white: hsl(var(--b), 0%, 98%);
    --light: hsl(var(--b), 25%, 90%);
    --red:   hsl(var(--r), var(--s), var(--l));
    --green: hsl(var(--g), var(--s), var(--l));
    --blue:  hsl(var(--b), var(--s), var(--l));
    --black: hsl(var(--b), var(--s),  5%);
    
    --red-dark:   hsl(var(--r),var(--s),calc(var(--l)*.5));
    --green-dark: hsl(var(--g),var(--s),calc(var(--l)*.5));
    --blue-dark:  hsl(var(--b),var(--s),calc(var(--l)*.5));

    --red-light:   hsl(var(--r),var(--s),calc(var(--l)*2));
    --green-light: hsl(var(--g),var(--s),calc(var(--l)*2));
    --blue-light:  hsl(var(--b),var(--s),calc(var(--l)*2));
}


::placeholder {
    color: var(--light);
}

body {
    background-color: var(--blue-dark);
}

header,
footer {
    color: var(--light);
    background-color: var(--blue);
}

footer a:hover {
    color: var(--white);
}
/* Scroll style */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--blue) var(--blue-dark) ;
    /* overflow: auto; */
    scrollbar-width: thin;
    scrollbar-color: hsl(0 0% 50%);
}