.form_grid {
    display: grid;
    gap: .5rem;
    grid-template-columns: 1fr;
}

.detail_grid {
    display: grid;
    gap: .5rem;
    grid-template-columns: 1fr;
}

@media only screen and (min-width: 480px) {
    .form_grid {
            display: grid;
            gap: .5rem;
            grid-template-areas:
                "A A A"
                "B C D"
                "F F F"
                "X Y Z";
        }
                .form_grid #title {
                    grid-area: A;
                }
        
                .form_grid #descript {
                    grid-area: F;
                    resize: vertical;
                }
}
form.form_grid{
    border-radius: .333rem;
}

/* form.form_grid * {
    border-radius: .333rem;
    padding: .5rem 1rem;
    border: 2px solid var(--light);
    outline: none;
} */

.form_grid input:focus {
    color: var(--red);
    background-color: var(--light);
    border-color: red;
}


.button,
button {
    cursor: pointer;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    border: none;
    border-radius: .333rem;
    padding: .5rem 1rem;
    outline: none;
}

.button:hover,
.button:active,
.button:focus,
button:hover,
button:active,
button:focus {
    text-decoration: none;
    opacity: 1;
}


a.btn {
    padding: .5rem 1rem;
    border-radius: 3px;
    text-decoration: none;
    color: var(--light);
    width: fit-content;
    border-radius: .333rem;
    padding: .5rem 1rem;
    outline: none;
    width: auto;
}

.input-search {
    margin: auto;
    padding: .5rem 1rem;
    /* width: 1rem; */
    /* transition: all .5s ease-in-out; */
}

/* .btn-search:focus~.input-search {
    width: 300px;
    transition: all 500ms ease-out;
} */

/* .input-search:hover,
.input-search:focus {
    width: 300px;
    transition: all 500ms ease-in-out;
} */
