#menu {
    position: absolute;
    right: 1rem;
    top: 2rem;
    overflow: hidden;
    height: 0;
    opacity: 0%;
    transition: all .5s ease-in-out;
    background-color: var(--blue);
    padding-bottom: 2rem;
}

#menu.show {
    height: fit-content;
    opacity: 100%;
    transition: all .5s ease-in-out;
}

#menu ul {
    margin: 0;
}

#menu li {
    border-bottom: solid var(--light);
    width: 100%;
    list-style: none;
}

/* #menu li:hover {
    background-color: var(--dark-color);
} */

#menu a {
    padding: 0.5rem 1rem;
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: none;
    height: 100%;
    width: 100%;
}

#menu a:hover {
    background-color: var(--blue-dark);
}



/** Hamburger **/
.hamburger {
    position: absolute;
    right: 1rem;
    top: .5rem;
}

.hamburger div {
    position: relative;
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin-top: 6px;
    transition: all 0.3s ease-in-out;
}

/** Animations **/
#toggle:checked+.hamburger .top-bun {
    transform: rotate(-45deg);
    margin-top: 15px;
}

#toggle:checked+.hamburger .bottom-bun {
    opacity: 0;
    transform: rotate(45deg);
}

#toggle:checked+.hamburger .meat {
    transform: rotate(45deg);
    margin-top: -5px;
}

#toggle:checked+.hamburger+.nav {
    top: 0;
    transform: scale(1);
}

#toggle {
    display: none;
}