{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <title>
        {% block title %}
            {% if post %}
                {{post.title}}
            {% else %}
                {{ title }}
            {% endif %}
        {% endblock %}
    </title>
</head>

<body>
    <div class="root">
        <header>
            {% include 'header.html' %}

        </header>

        <main class="main">
            <div class="">
                {% block content %}
                {% endblock %}
            </div>
        </main>

        <footer>
            {% include 'footer.html' %}
        </footer>
    </div>
</body>
</html>
